BOT_TOKEN = "1500925636:AAFrQE5_0Lrr4h4b1z-h4qqAuWcAWJ71RcE"
GDRIVE_FOLDER_ID = "0AC1pdn0mIMqFUk9PVA"
OWNER_ID = 1444482628
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
INDEX_URL = ""https://myindexfile.djalam300.workers.dev/0:
USER_SESSION_STRING = "BQBhWjr6HxgIAbha1WhgN2mkaPNQk8vuWtNvRnnuHzuBa9f0xHmt39uApdgcnD0raMH9hJxcAAg7gseff38wu74QzIRSdrBrhcKATCgVesB_D68MVY5qwQXHlGT5gymK-Gc9Xz9XXy7mr7LgUnXaDmf0JJuQ3LPUOBA-5dm78fof1q56WntqSrWU_zEOivzQC1sKQXxtQI1Ya8bsHRMYtMNe1G4eMSJiIcGk7tmqYQsYokdQ1fHH_Nz5QeiY6hsNkqA_BERQ1RxQf705IY-TqSd4iGGFrrGSx5zis8zlty5Y4we_O_nPXgXIwjE7rlwkj0YpN6lWpLfkpO4gt8Xa_NHvWXZOxAE"
TELEGRAM_API = 2069099
TELEGRAM_HASH = "c9083372a4110877c8a42a27c9ee1c9e"
USE_SERVICE_ACCOUNTS = ""
